# python stuff
__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
.venv/
venv/
.env

# data stuff
data/raw/*
data/processed/*
!data/.gitkeep

# the notebooks
.ipynb_checkpoints/

# pytorch stuff
*.pt
*.pth

# OS
.DS_Store
